/SmartShoppingAssistant/.vs
/SmartShoppingAssistant/SmartShoppingAssistant.Api/bin
/SmartShoppingAssistant/SmartShoppingAssistant.Api/obj

/SmartShoppingAssistant/SmartShoppingAssistant.DataAccess/obj
/SmartShoppingAssistant/.claude
/SmartShoppingAssistant/SmartShoppingAssistant.Api/obj
/SmartShoppingAssistant/SmartShoppingAssistant.BusinessLogic/obj
/SmartShoppingAssistant/SmartShoppingAssistant.Api/obj

/SmartShoppingAssistant/docs/endpoints/Product_CRUD.md

labs

.vs

SmartShoppingAssistant.frontend\node_modules
